Repository kaleidawave/ezno, pull requests merged in 2023-11, with the labels that each got.

#71 File importing and exports
  .github/workflows/rust.yml
  CONTRIBUTING.md
  checker/examples/check.rs
  checker/specification/build.rs
  checker/specification/specification.md
  checker/specification/test.rs
  checker/src/behavior/functions.rs
  checker/src/behavior/mod.rs
  checker/src/behavior/modules.rs
  checker/src/behavior/objects.rs
  checker/src/behavior/variables.rs
  checker/src/context/environment.rs
  checker/src/context/facts.rs
  checker/src/context/mod.rs
  checker/src/context/root.rs
  checker/src/diagnostics.rs
  checker/src/lib.rs
  checker/src/serialization.rs
  checker/src/structures/functions.rs
  checker/src/structures/mod.rs
  checker/src/structures/modules.rs
  checker/src/structures/variables.rs
  checker/src/synthesis/block.rs
  checker/src/synthesis/declarations.rs
  checker/src/synthesis/expressions.rs
  checker/src/synthesis/hoisting.rs
  checker/src/synthesis/mod.rs
  checker/src/synthesis/statements.rs
  checker/src/synthesis/variables.rs
  checker/src/type_mappings.rs
  checker/src/types/mod.rs
  checker/src/types/others.rs
  checker/src/types/poly_types/substitution.rs
  checker/src/types/printing.rs
  checker/src/types/properties.rs
  checker/src/types/store.rs
  checker/src/types/subtyping.rs
  parser/src/types/type_alias.rs
Labels: checking, architecture

#79 Small fixes
  checker/specification/Cargo.toml
  parser/src/declarations/classes/class_member.rs
  parser/src/expressions/mod.rs
  parser/src/lib.rs
  parser/src/tokens.rs
  parser/tests/expressions.rs
Labels: bug, parser

#69 Add positions to events (issue #37)
  checker/specification/specification.md
  checker/src/behavior/functions.rs
  checker/src/behavior/objects.rs
  checker/src/context/environment.rs
  checker/src/context/facts.rs
  checker/src/context/mod.rs
  checker/src/diagnostics.rs
  checker/src/events/application.rs
  checker/src/events/helpers.rs
  checker/src/events/mod.rs
  checker/src/synthesis/classes.rs
  checker/src/synthesis/expressions.rs
  checker/src/synthesis/extensions/jsx.rs
  checker/src/synthesis/functions.rs
  checker/src/synthesis/interfaces.rs
  checker/src/synthesis/statements.rs
  checker/src/synthesis/type_annotations.rs
  checker/src/synthesis/variables.rs
  checker/src/types/calling.rs
  checker/src/types/others.rs
  checker/src/types/properties.rs
Labels: checking, diagnostics

#84 [Feat] Adding `export type { ... } from '...'` support
  checker/src/synthesis/hoisting.rs
  parser/src/declarations/export.rs
  parser/tests/statements.rs
Labels: bug, parser
