Repository kaleidawave/ezno, pull requests merged in 2024-06, with the labels that each got.

#160 Check for excess generic arguments
  checker/specification/specification.md
  checker/src/diagnostics.rs
  checker/src/types/calling.rs
  checker/src/types/properties.rs
  src/utilities.rs
Labels: enhancement, checking

#155 Fixes to CLI
  .github/workflows/github-release.yml
  .github/workflows/performance-and-size.yml
  .github/workflows/publish.yml
  Cargo.lock
  Cargo.toml
  README.md
  checker/binary-serialize-derive/Cargo.toml
  checker/documentation/getting-started.md
  parser/README.md
  parser/examples/code_blocks_to_script.rs
  src/ast_explorer.rs
  src/build.rs
  src/cli.rs
  src/js-cli-and-library/README.md
  src/repl.rs
  src/reporting.rs
  src/utilities.rs
  src/wasm_bindings.rs
Labels: enhancement, cli

#158 Few parser fixes
  .github/workflows/clippy-rustfmt-fix.yml
  .github/workflows/performance-and-size.yml
  .github/workflows/rust.yml
  checker/specification/specification.md
  checker/src/context/environment.rs
  checker/src/features/assignments.rs
  checker/src/lib.rs
  checker/src/synthesis/assignments.rs
  checker/src/synthesis/classes.rs
  checker/src/synthesis/functions.rs
  checker/src/synthesis/interfaces.rs
  checker/src/synthesis/mod.rs
  checker/src/synthesis/type_annotations.rs
  checker/src/synthesis/variables.rs
  parser/README.md
  parser/examples/code_blocks_to_script.rs
  parser/examples/parse.rs
  parser/examples/pretty_printing.rs
  parser/fuzz/Cargo.lock
  parser/src/declarations/classes/class_member.rs
  parser/src/declarations/classes/mod.rs
  parser/src/declarations/export.rs
  parser/src/declarations/import.rs
  parser/src/declarations/variable.rs
  parser/src/errors.rs
  parser/src/expressions/assignments.rs
  parser/src/expressions/mod.rs
  parser/src/expressions/object_literal.rs
  parser/src/extensions/jsx.rs
  parser/src/functions/mod.rs
  parser/src/lib.rs
  parser/src/property_key.rs
  parser/src/statements/for_statement.rs
  parser/src/statements/mod.rs
  parser/src/tokens.rs
  parser/src/types/interface.rs
  parser/src/types/type_alias.rs
  parser/src/types/type_annotations.rs
  parser/src/types/type_declarations.rs
  parser/src/variable_fields.rs
  parser/src/visiting.rs
Labels: bug, parser
