Repository kaleidawave/ezno, pull requests merged in 2024-08, with the labels that each got.

#173 Parser improvements
  .github/workflows/performance-and-size.yml
  .github/workflows/publish.yml
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  checker/definitions/overrides.d.ts
  checker/definitions/simple.d.ts
  checker/specification/specification.md
  checker/specification/to_implement.md
  checker/src/features/template_literal.rs
  checker/src/lib.rs
  checker/src/synthesis/classes.rs
  checker/src/synthesis/declarations.rs
  checker/src/synthesis/expressions.rs
  checker/src/synthesis/hoisting.rs
  checker/src/synthesis/mod.rs
  checker/src/synthesis/type_annotations.rs
  parser/examples/code_blocks_to_script.rs
  parser/examples/lex.rs
  parser/examples/parse.rs
  parser/examples/pretty_printing.rs
  parser/generator/tests/structures.rs
  parser/src/block.rs
  parser/src/comments.rs
  parser/src/declarations/classes/class_member.rs
  parser/src/declarations/export.rs
  parser/src/declarations/import.rs
  parser/src/declarations/mod.rs
  parser/src/errors.rs
  parser/src/expressions/mod.rs
  parser/src/expressions/object_literal.rs
  parser/src/expressions/operators.rs
  parser/src/expressions/template_literal.rs
  parser/src/functions/mod.rs
  parser/src/generator_helpers.rs
  parser/src/lexer.rs
  parser/src/lib.rs
  parser/src/marker.rs
  parser/src/modules.rs
  parser/src/number.rs
  parser/src/options.rs
  parser/src/property_key.rs
  parser/src/statements/mod.rs
  parser/src/statements/switch_statement.rs
  parser/src/tokens.rs
  parser/src/types/interface.rs
  parser/src/types/namespace.rs
  parser/src/types/type_annotations.rs
  parser/src/variable_fields.rs
  parser/src/visiting.rs
  parser/tests/expressions.rs
  parser/tests/statements_and_declarations.rs
  parser/tests/type_annotations.rs
  src/build.rs
  src/cli.rs
  src/repl.rs
Labels: bug, parser

#152 Add fuzz target `checker/fuzz/check_project_naive`
  .github/workflows/rust.yml
  checker/fuzz/.gitignore
  checker/fuzz/Cargo.lock
  checker/fuzz/Cargo.toml
  checker/fuzz/fuzz_targets/check_project_naive.rs
Labels: internal-improvements, checking

#192 Add "duplicate import name" and "missing default export" diagnostics
  checker/specification/specification.md
  checker/src/diagnostics.rs
  checker/src/features/modules.rs
Labels: checking, diagnostics

#190 Partial source fixes
  .github/workflows/rust.yml
  checker/src/context/environment.rs
  checker/src/context/mod.rs
  checker/src/diagnostics.rs
  checker/src/events/application.rs
  checker/src/features/functions.rs
  checker/src/features/modules.rs
  checker/src/features/operations.rs
  checker/src/types/calling.rs
  checker/src/types/generics/chain.rs
  checker/src/types/intrinsics.rs
  checker/src/types/mod.rs
  checker/src/types/properties/list.rs
  checker/src/types/properties/mod.rs
  checker/src/types/store.rs
  checker/src/utilities/debugging.rs
  checker/src/utilities/map.rs
  checker/tests/partial_source.rs
  parser/examples/code_blocks_to_script.rs
  parser/examples/pretty_printing.rs
  parser/src/block.rs
  parser/src/declarations/classes/class_member.rs
  parser/src/expressions/mod.rs
  parser/src/expressions/object_literal.rs
  parser/src/lib.rs
  parser/src/property_key.rs
  parser/src/statements/mod.rs
  parser/src/tokens.rs
  parser/src/types/type_annotations.rs
  parser/tests/partial.rs
Labels: bug, parser

#156 Add basic narrowing
  .github/workflows/rust.yml
  checker/definitions/internal.ts.d.bin
  checker/definitions/simple.d.ts
  checker/examples/calculate_subtypes.rs
  checker/examples/run_checker.rs
  checker/fuzz/fuzz_targets/check_project_naive.rs
  checker/specification/specification.md
  checker/src/context/environment.rs
  checker/src/context/information.rs
  checker/src/context/mod.rs
  checker/src/events/application.rs
  checker/src/features/conditional.rs
  checker/src/features/constant_functions.rs
  checker/src/features/functions.rs
  checker/src/features/iteration.rs
  checker/src/features/mod.rs
  checker/src/features/narrowing.rs
  checker/src/features/operations.rs
  checker/src/lib.rs
  checker/src/options.rs
  checker/src/synthesis/block.rs
  checker/src/synthesis/expressions.rs
  checker/src/synthesis/extensions/is_expression.rs
  checker/src/synthesis/interfaces.rs
  checker/src/synthesis/mod.rs
  checker/src/synthesis/type_annotations.rs
  checker/src/synthesis/variables.rs
  checker/src/types/calling.rs
  checker/src/types/generics/substitution.rs
  checker/src/types/mod.rs
  checker/src/types/printing.rs
  checker/src/types/properties/access.rs
  checker/src/types/properties/assignment.rs
  checker/src/types/properties/list.rs
  checker/src/types/properties/mod.rs
  checker/src/types/store.rs
  checker/src/types/subtyping.rs
  checker/tests/suggestions.rs
Labels: enhancement, checking, narrowing

#184 Initial RegExp
  Cargo.lock
  checker/Cargo.toml
  checker/definitions/internal.ts.d.bin
  checker/definitions/overrides.d.ts
  checker/specification/specification.md
  checker/src/context/environment.rs
  checker/src/context/root.rs
  checker/src/diagnostics.rs
  checker/src/features/constant_functions.rs
  checker/src/features/mod.rs
  checker/src/features/objects.rs
  checker/src/features/regexp.rs
  checker/src/synthesis/expressions.rs
  checker/src/types/calling.rs
  checker/src/types/printing.rs
  checker/src/types/store.rs
  checker/src/types/subtyping.rs
  checker/src/utilities/serialization.rs
Labels: enhancement, checking

#186 Basic operator checking
  .github/workflows/examples.yml
  .github/workflows/performance-and-size.yml
  checker/definitions/internal.ts.d.bin
  checker/definitions/overrides.d.ts
  checker/definitions/simple.d.ts
  checker/examples/run_checker.rs
  checker/fuzz/Cargo.toml
  checker/specification/specification.md
  checker/specification/to_implement.md
  checker/src/context/environment.rs
  checker/src/context/information.rs
  checker/src/context/mod.rs
  checker/src/context/root.rs
  checker/src/diagnostics.rs
  checker/src/events/application.rs
  checker/src/features/constant_functions.rs
  checker/src/features/functions.rs
  checker/src/features/iteration.rs
  checker/src/features/mod.rs
  checker/src/features/modules.rs
  checker/src/features/narrowing.rs
  checker/src/features/operations.rs
  checker/src/features/template_literal.rs
  checker/src/features/variables.rs
  checker/src/synthesis/classes.rs
  checker/src/synthesis/expressions.rs
  checker/src/synthesis/extensions/jsx.rs
  checker/src/synthesis/hoisting.rs
  checker/src/synthesis/interfaces.rs
  checker/src/synthesis/mod.rs
  checker/src/synthesis/type_annotations.rs
  checker/src/types/calling.rs
  checker/src/types/casts.rs
  checker/src/types/classes.rs
  checker/src/types/disjoint.rs
  checker/src/types/functions.rs
  checker/src/types/generics/substitution.rs
  checker/src/types/intrinsics.rs
  checker/src/types/logical.rs
  checker/src/types/mod.rs
  checker/src/types/printing.rs
  checker/src/types/properties/access.rs
  checker/src/types/properties/list.rs
  checker/src/types/properties/mod.rs
  checker/src/types/store.rs
  checker/src/types/subtyping.rs
  checker/src/types/terms.rs
  checker/src/utilities/float_range.rs
  checker/src/utilities/mod.rs
Labels: enhancement, checking

#200 Class generics pass down to constructor
  .github/workflows/examples.yml
  checker/specification/specification.md
  checker/src/diagnostics.rs
  checker/src/features/functions.rs
  checker/src/lib.rs
  checker/src/synthesis/block.rs
  checker/src/synthesis/classes.rs
  checker/src/synthesis/declarations.rs
  checker/src/synthesis/definitions.rs
  checker/src/synthesis/expressions.rs
  checker/src/synthesis/hoisting.rs
  checker/src/types/calling.rs
  checker/src/types/properties/mod.rs
  parser/src/block.rs
  parser/src/declarations/export.rs
  parser/src/expressions/mod.rs
  parser/src/options.rs
  src/cli.rs
  src/reporting.rs
Labels: bug, parser, checking, tsc-behaviour
