Repository kaleidawave/ezno, pull requests merged in 2024-05, with the labels that each got.

#141 feat: Add import meta
  checker/definitions/internal.ts.d.bin
  checker/definitions/overrides.d.ts
  checker/definitions/simple.d.ts
  checker/specification/specification.md
  checker/src/context/mod.rs
  checker/src/context/root.rs
  checker/src/synthesis/expressions.rs
  checker/src/types/mod.rs
  checker/src/types/printing.rs
  checker/src/types/store.rs
  parser/src/declarations/mod.rs
  parser/src/expressions/mod.rs
  parser/tests/expressions.rs
Labels: bug, enhancement, parser, checking

#145 Parser and CLI updates
  .github/workflows/performance-and-size.yml
  .gitignore
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  checker/Cargo.toml
  checker/examples/generate-cache.rs
  checker/examples/run-checker.rs
  checker/examples/subtyping.rs
  checker/specification/specification.md
  checker/src/diagnostics.rs
  checker/src/features/modules.rs
  checker/src/lib.rs
  checker/src/synthesis/block.rs
  checker/src/synthesis/expressions.rs
  checker/src/synthesis/hoisting.rs
  checker/src/synthesis/interfaces.rs
  checker/src/synthesis/statements.rs
  checker/src/synthesis/type_annotations.rs
  parser/Cargo.toml
  parser/examples/lex.rs
  parser/examples/parse.rs
  parser/examples/pretty_printing.rs
  parser/fuzz/Cargo.lock
  parser/fuzz/fuzz_targets/module_roundtrip_naive.rs
  parser/fuzz/fuzz_targets/module_roundtrip_structured.rs
  parser/src/block.rs
  parser/src/comments.rs
  parser/src/declarations/variable.rs
  parser/src/errors.rs
  parser/src/expressions/assignments.rs
  parser/src/expressions/mod.rs
  parser/src/expressions/object_literal.rs
  parser/src/functions/parameters.rs
  parser/src/lexer.rs
  parser/src/lib.rs
  parser/src/modules.rs
  parser/src/statements/if_statement.rs
  parser/src/statements/mod.rs
  parser/src/statements/while_statement.rs
  parser/src/tokens.rs
  parser/src/types/interface.rs
  parser/src/types/type_annotations.rs
  parser/src/types/type_declarations.rs
  parser/src/visiting.rs
  parser/tests/type_annotations.rs
  src/cli.rs
  src/utilities.rs
Labels: parser, internal-improvements

#143 add `bacon.toml` for easier new dev experience
  CONTRIBUTING.md
  bacon.toml
Labels: internal-improvements

#144 Remove all optional positions from the checker
  checker/definitions/internal.ts.d.bin
  checker/src/context/environment.rs
  checker/src/context/information.rs
  checker/src/diagnostics.rs
  checker/src/events/application.rs
  checker/src/events/mod.rs
  checker/src/features/constant_functions.rs
  checker/src/features/functions.rs
  checker/src/features/iteration.rs
  checker/src/features/modules.rs
  checker/src/features/objects.rs
  checker/src/features/template_literal.rs
  checker/src/lib.rs
  checker/src/synthesis/classes.rs
  checker/src/synthesis/expressions.rs
  checker/src/synthesis/extensions/jsx.rs
  checker/src/synthesis/interfaces.rs
  checker/src/synthesis/statements.rs
  checker/src/synthesis/type_annotations.rs
  checker/src/types/calling.rs
  checker/src/types/classes.rs
  checker/src/types/functions.rs
  checker/src/types/others.rs
  checker/src/types/properties.rs
  src/reporting.rs
Labels: checking

#147 Parser improvements
  .github/workflows/performance-and-size.yml
  checker/src/features/operations.rs
  checker/src/synthesis/interfaces.rs
  checker/src/synthesis/mod.rs
  checker/src/synthesis/type_annotations.rs
  parser/examples/pretty_printing.rs
  parser/src/comments.rs
  parser/src/functions/parameters.rs
  parser/src/lib.rs
  parser/src/statements/for_statement.rs
  parser/src/statements/mod.rs
  parser/src/tokens.rs
  parser/src/types/interface.rs
  parser/src/types/type_annotations.rs
  parser/tests/type_annotations.rs
Labels: parser

#150 Last minute fixes
  checker/definitions/internal.ts.d.bin
  checker/definitions/overrides.d.ts
  checker/definitions/simple.d.ts
  checker/specification/specification.md
  checker/specification/test.rs
  checker/src/features/template_literal.rs
  checker/src/synthesis/definitions.rs
  checker/src/types/properties.rs
  checker/src/types/subtyping.rs
Labels: bug, checking

#115 Add playground
  .github/workflows/deploy-playground.yml
  src/playground/assets/banner.png
  src/playground/assets/ezno.svg
  src/playground/assets/index.css
  src/playground/index.html
  src/playground/main.js
  src/playground/package-lock.json
  src/playground/package.json
  src/playground/vite.config.js
Labels: js-wasm-unplugin-and-playground
